:root {
    --user-image-container-size: 15vw;
}


.divContainerUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .add-button-column {
    height: 57px;
} */

.divContainerAddButton {
    height: calc(var(--user-image-container-size) + 13.28px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.divContainerAddButtonTransaction {
    height: calc(var(--user-image-container-size) / 4);
    /* max-height: 50%; */
    /* max-height: inherit; */
    display: flex;
    /* justify-content: end; */
    justify-content: flex-end;
    align-items: center;
    /* align-items: stretch; */
}

.userImage {
    width: var(--user-image-container-size);
    height: var(--user-image-container-size);
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #ff0000;

    line-height: var(--user-image-container-size);
    text-align: center;
    /* font-size: 3vw; */
    font-size: calc(var(--user-image-container-size)/4);
}


.addButtonButton {
    position: relative;
    width: calc(var(--user-image-container-size)/4);
    height: calc(var(--user-image-container-size)/4);
    max-height: 100%;
    background-color: transparent;
}



.addButtonImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


h5,
.divContainerUser input {
    text-align: center;
    width: var(--user-image-container-size);
    height: auto;
    /* height: var(--user-image-container-size); */
    /* outline: none; */
    border: none;
    line-height: 1.5;
}


/* for cross button on top right of user profiles when hovered */
.divContainerUser {
    position: relative;
}

.topRightUserIcons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

}

.cross-button,
.change-photo,
.home-button,
.line-chart {
    width: calc(var(--user-image-container-size) / 10);
    height: calc(var(--user-image-container-size) / 10);
    display: flex;
    position: relative;
}

.cross-button-image,
.change-photo-image,
.home-button-image,
.line-chart-image {
    width: 100%;
    height: 100%;
    /* z-index: 3; */
    position: absolute;
    top: 0;
    left: 0;
}

.user-transaction-container {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.UserTransactionTitles {
    display: flex;
    align-items: center;
    /* align-items: stretch; */
    justify-content: space-between;
    /* height: 57px; */
}

h1 {
    text-align: center;
}

.vl {
    border-left: 4px solid red;
    /* height: 100%; */
    /* flex-grow: 1; */
    /* flex: 1 1 auto; */
}

.hl {
    border-top: 4px solid red;
}

.user-transaction-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 auto;
    /* position: relative; */
}

section {
    flex: 1;
    /* padding: 10px; */
    /* border-bottom: 4px solid red; */
    text-align: center;
}

.accordian-test:hover {
    background-color: red;
}

.accordion-item:hover .accordion-button {
    background-color: lightgray;
}

.accordion-button::after {
    margin: 0;
    margin-left: 0;
}

/* 
.accordion {
    --bs-accordion-active-bg: purple;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #29008a;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
} */

.bar-chart {
    height: 20vh;
}

.text-wrapper {
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    /* width: 200px; */
}

.line-chart-currency-button {
    background-color: rgba(75, 192, 192, 1);
    border-color: rgba(75, 192, 192, 1);
    color: white;
}

.line-chart-currency-button:hover {
    background-color: rgba(75, 192, 192, 0.8);
    border-color: rgba(75, 192, 192, 0.8);
    color: white;
}