:root {
    --user-image-container-size: 15vw;
  }


.divContainerUser {
    width: var(--user-image-container-size);
    height: var(--user-image-container-size);
    position: relative;
    left: 25%;
}

.divContainerAddButton{
    width: var(--user-image-container-size);
    height: var(--user-image-container-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25%;
}

.userImage{
    width: 100%;
    height: 100%;
    /* position: absolute;
    left:10px; */
}




.addButtonContainer{
    position: relative;
    width: calc(var(--user-image-container-size)/4);
    height: calc(var(--user-image-container-size)/4);
    /* display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center; */
    background-color: transparent;
}



.addButton{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


h5{
    text-align: center;
}



