:root {
    --user-image-container-size: 15vw;
  }


.divContainerUser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divContainerAddButton{
    height: calc(var(--user-image-container-size) + 13.28px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.userImage{
    width: var(--user-image-container-size);
    height: var(--user-image-container-size);
}




.addButtonButton{
    position: relative;
    width: calc(var(--user-image-container-size)/4);
    height: calc(var(--user-image-container-size)/4);
    background-color: transparent;
}



.addButtonImage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


h5{
    text-align: center;
}



